.single {
  padding: 30px 0px;
  span {
    font-weight: 500;
  }
  &__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
  }

  &__card__img {
    padding: 40px;

    img {
      width: 80%;
      height: 400px;
      object-fit: contain;
    }
  }
  &__card__info {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
